@import "mixin";

.background {
  display: block;
  font-size: 50px;
  color: transparent;
}

.background::before,
.background::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.background::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

.background::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
